.console {
}

.console__input {
  display: block;
  width: 100%;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #cecece;
  outline: none;
  padding: 10px 15px;
  color: #111;
  transition: all .3s ease;
  font-family: 'Inconsolata';

  &:focus {
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
  }
}
