.menu {
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
  padding: 0 15px;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.menu__item {
  display: inline-block;
  padding: 0 15px;
  cursor: pointer;
  color: #000;
  text-decoration: none;

  &:hover {
    color: #999;
  }

  & + & {
    border-left: 1px solid #cecece;
  }
}

.menu__item--current {
  text-decoration: underline;
}

.menu__item--on-right {
  float: right;
}
