.editor {
  min-height: calc(100vh - 80px);
  border-collapse: collapse;
}

.editor__container {
  height: calc(100vh - 125px);
  width: calc(100vw - 350px);
}

.editor__new {
  text-align: center;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  cursor: pointer;
  border-bottom: 1px solid #cecece;
  background: #fdffe1;
}

.editor__list {
  height: calc(100vh - 165px);
  overflow-y: auto;
}

.editor__list__document {
  display: block;
  border-bottom: 1px solid #cecece;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  color: black;
}

.editor__list__document--current {
  background: #cecece;
}
