.memory-container {
  overflow: scroll;
  height: calc(100vh - 125px);
}

.memory-container__table {
  display: table;
  width: 100%;
}

.memory-container__row {
  display: block;
  width: 100%;
  font-size: 0;
  border-collapse: collapse;
  cursor: pointer;
}

.memory-container__var {
  display: inline-block;
  vertical-align: top;
  width: 15%;
  padding: 0 10px;
  border-bottom: 1px solid #cecece;
  border-right: 1px solid #cecece;
  font-size: 14px;
  height: 36px;
  line-height: 36px;

  strong {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    display: block;
  }
}

.memory-container__val {
  display: inline-block;
  vertical-align: top;
  width: 85%;
  padding: 0 10px;
  border-bottom: 1px solid #cecece;
  font-size: 14px;
  height: 36px;
  line-height: 36px;

  span {
    text-overflow: ellipsis;
    max-width: 95%;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
  }
}
