.runner-output-error {
  color: red;
  font-size: 16px;
  padding: 10px 0;
}

.runner-output-error__stack-title {
  font-size: 14px;
  color: black;
  padding: 10px 0 5px;
}

.runner-output-error__stack-body {
  font-size: 13px;
  color: red;
}
