.runner-output-success {

}

.runner-output-success__param {
  margin-top: 10px;

  .result {
    overflow: hidden;
  }

  .result__base > span {
    font-weight: 700;
  }

  .result__separate {
    padding: 5px 16px;
    overflow-x: auto;
    white-space: nowrap;
  }
}

.runner-output-success__param__name {
  font-weight: 700;
}

.runner-output-success__param__value {
  padding: 5px 16px;
  overflow-x: auto;
  white-space: nowrap;
}

.runner-output-success__param__value--not-found {
  color: red;
}
