.column {
  width: 50%;
  display: table-cell;
  height: 100%;
  vertical-align: top;
  border: 1px solid #cecece;
  overflow: hidden;

  &:first-child {
    border-left: 0;
  }

  &:last-child {
    border-right: 0;
  }

  &:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

//@for $i from 1 through 12 {
//  .column-#{$i} {
//    width: 100% / 12 * $i;
//  }
//}

.column-3 {
  width: 350px;
}

.column-9 {
  width: auto;
}
