.file {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 30px;

  &:hover {
    .file__remove {
      opacity: 1;
    }
  }

  @media (max-width: 768px) {
    padding: 10px;
    width: 100%;
  }
}

.file__thumb {
  width: 100%;
  height: auto;
  cursor: pointer;
  border: 1px solid #ccc;
}

.file__remove {
  position: absolute;
  left: 35px;
  bottom: 0;
  cursor: pointer;
  opacity: 0;
}
