.files {
  min-height: calc(100vh - 80px);
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.files__container {
  padding: 20px;
  font-size: 0;
  text-align: left;

  @media (max-width: 768px) {
    text-align: center;
  }
}
