@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata-webfont.eot');
  src: local('☺'), url('Inconsolata-webfont.woff') format('woff'), url('Inconsolata-webfont.ttf') format('truetype'), url('Inconsolata-webfont.svg#webfont6txitxZN') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  font-family: 'Inconsolata', sans-serif;
}
