.playground {
  min-height: calc(100vh - 80px);
  display: table;
  width: 100%;
  border-collapse: collapse;

  @media (max-width: 768px) {
    .column-9 {
      border-left: 0;
    }
  }
}

.playground__container {
  padding: 15px 0;
}
