.header {
  width: 100%;
  text-align: left;
  display: table;
  border-bottom: 2px solid #cecece;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, .2);
  padding: 10px 30px;
  height: 50px;
}

.header__container {
  display: table-cell;
  vertical-align: middle;
}

.header__name {
  font-size: 22px;
  display: inline-block;
  font-weight: 400;
}

.header__version {
  font-size: 12px;
  margin-left: 6px;
}
