.result {
  font-size: 16px;
  max-width: 100%;
  border-bottom: 1px solid #ddd;

  & + & {
    margin-top: 10px;
  }

  &:last-child {
    margin-bottom: 10px;
    border-bottom: 0;
  }
}

.result__base {
  padding-bottom: 0;
}

.result__error {
  color: red;
  padding-bottom: 10px;
}

.result__separate {
  padding-left: 16px;
  padding-top: 10px;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 30px;
}

.result__separate--loading {
  color: orange;
}

.result__table {

}

.result__table__variable {
  vertical-align: top;
  padding-top: 4px;
  padding-right: 5px;
  white-space: pre;
}

.result__table__matrix {
  vertical-align: top;
}

.result__plot-container {
  position: relative;
  width: 100%;
  max-width: 100%;

  @media (max-width: 768px) {
    max-width: 100vw;
    width: 100vw;
  }
}

.result__plot__save {
  position: absolute;
  left: 0;
  top: 40px;
  font-size: 12px;
  font-family: 'Inconsolata', sans-serif;
  padding: 3px 15px;
  background: #fff;
  border: 1px solid #ccc;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background: #eee;
  }
}

.result__plot__save--saved,
.result__plot__save--saving {
  cursor: default;

  &:hover {
    background: #fff;
  }
}
