.window {
  display: block;
}

.window__title {
  display: block;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  line-height: 1.3;
  font-weight: 700;
  font-size: 17px;
  border-bottom: 1px solid #cecece;
}

.window__title--left {
  text-align: left;
}

.window__title--right {
  text-align: right;
}

.window__body {
}
