.runner {
  height: 100%;
  border-top: 1px solid #cecece;
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.runner__panel {
  width: 29px;
  display: table-cell;
  vertical-align: top;
  border-right: 1px solid #cecece;
}

.runner__content {
  display: table-cell;
  vertical-align: top;
  position: relative;

  .ReactTabs {
    position: absolute;
    left: 15px;
    top: 15px;
    bottom: 15px;
    right: 15px;
  }

  .ReactTabs__TabList {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
  }

  .ReactTabs__TabPanel {
    overflow-y: scroll;
    position: absolute;
    top: 31px;
    width: 100%;
    height: calc(100% - 31px);
    border: 1px solid #aaa;
    border-top: 0;
    padding: 10px 15px;
  }
}

.runner__content__title {
  font-size: 22px;
  font-weight: 700;
  padding: 10px 0 5px;
  border-bottom: 1px solid #cecece;
  margin: 0 0 10px;
}
