.runner-properties {
  padding: 6px 0;
}

.runner-properties__input {
  width: 100%;
  font-size: 14px;
  font-family: 'Inconsolata', sans-serif;
  height: 30px;
  border: 1px solid #e6e6e6;
  color: #aaa;
  padding: 0 10px;
  transition: all 0.3s ease;

  &:focus {
    color: #000;
    outline: none;
    border-color: #000;
  }
}

.runner-properties__line {
  & + & {
    margin-top: 7px;
  }
}

.runner-properties__label__tip {
  font-size: 14px;
  color: #696969;
  font-style: italic;
  margin-bottom: 5px;
}

.runner-properties__label {
  display: block;
  margin-bottom: 2px;
  font-size: 15px;
  cursor: pointer;
}

.runner-properties__button {
  font-size: 14px;
  font-family: 'Inconsolata', sans-serif;
  padding: 5px 10px;
  cursor: pointer;
  background: #eee;
  border: 1px solid #cecece;
  transition: color .3s ease, background .3s ease, border .3s ease;

  &--changed {
    background: orange;
    border: 1px solid darkorange;
    color: #fff;

    &:hover {
      background: lighten(orange, 10%);
    }
  }

  &[disabled] {
    cursor: default;
  }
}
