.auth {
  background: #fcfcfc;
  height: 100vh;
  position: relative;
}

.auth__wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 15px;
  margin-top: -45px;
}

.auth__header {
  text-align: center;
  font-size: 26px;
  display: block;
  font-weight: 400;
  height: 45px;
  vertical-align: top;
}

.auth__form {
  max-width: 350px;
  padding: 20px;
  background: #fff;
  border: 1px solid #cecece;
  text-align: left;
  margin: 0 auto;
}

.auth__form__line {
  & + & {
    margin-top: 10px;
  }
}

.auth__form__label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.auth__form__input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-family: Inconsolata, sans-serif;
  font-size: 15px;
}

.auth__form__button {
  font-size: 16px;
  font-family: Inconsolata, sans-serif;
  width: 100%;
  display: block;
  padding: 6px 15px;
  margin-top: 20px;
  background: orange;
  border: 1px solid darkorange;
  cursor: pointer;
  color: #fff;
  transition: color .3s ease, background .3s ease, border .3s ease;

  &[disabled] {
    cursor: default;
    color: #adadad;
    background: #eee;
    border-color: #cecece;

    &:hover {
      background: #eee;
    }
  }

  &:hover {
    background: lighten(orange, 10%);
  }
}

.auth__skip {
  text-align: center;
  padding: 10px 0;

  a {
    cursor: pointer;
    text-decoration: underline;
  }
}
